html{
    font-size: 35px;
}

section{
    margin: 10px auto;
    width: 70%;
    height: 600px;
    /*border: 0.51rem solid blue;8*/
}



.flags:nth-of-type(1){
    background: linear-gradient(90deg, green 33.33%,white 33.33%,white 66.66%, green 66.66%);
    border-left: 17.5px solid black;
    border-right: 17.5px solid black;
}
.flags:nth-of-type(2){
    background: radial-gradient(circle, crimson 40%, white 40%);
    border-top: 17.5px solid black;
    border-bottom: 17.5px solid black;
}
.flags:nth-of-type(3){
    background: linear-gradient(90deg, blue 33.33%, white 33.33%, 66.66%, red 66.66%);
    border-left: 17.5px solid black;
    border-right: 17.5px solid black;
}
.flags:nth-of-type(4){
    background: linear-gradient(180deg, red 33.3%, white 33.3%, white 38.8%, blue 38.8%, blue 61.0%, white 61.0%, white 66.6%, green 66.6% );
    border-top: 17.5px solid black;
    border-bottom: 17.5px solid black;
}
.flags:nth-of-type(5){
    background: linear-gradient(180deg, green 33.33%, yellow 33.33%, yellow 66.66%, blue 66.66%);
    border-left: 17.5px solid black;
    border-right: 17.5px solid black;
}
.flags:nth-of-type(6){
    background: linear-gradient(180deg, black 33.33%, red 33.33%, red 66.66%, yellow 66.66% );
    border-top: 17.5px solid blue;
    border-bottom: 17.5px solid blue;
}
.flags:nth-of-type(7){
    background-image: url(./images/gana.png), linear-gradient(180deg, red 33.33%, yellow 33.33%, yellow 66.66%,  green 66.66%);
    background-repeat: no-repeat;
    background-size: 200px, contain;
    background-position: center;
    border-left: 17.5px solid black;
    border-right: 17.5px solid black;
}
.flags:nth-of-type(8){
    background-image: url(./images/canada-removebg-preview.png), linear-gradient(90deg, red 25%, white 25%, white 75%, red 75%);
    background-repeat: no-repeat; 
    background-size: 280px, contain;
    background-position: center;
    border-top: 17.5px solid black;
    border-bottom: 17.5px solid black;
}
.radial{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    background-image: radial-gradient(red, green, blue);
    -webkit-background-clip : text;
    border-left: 17.5px solid black;
    border-right: 17.5px, solid black;

}
.conic{
    font-family: 'Montserrat', sans-serif;
    font-size: 95px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: transparent;
    background-image: conic-gradient{
        red 20%
        magenta 40%
        magenta 65%
        green 65%
        green 85%
        yellow 85%
    };
    -webkit-background-clip: text;
}
-webkit-background-clip : text;